<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="/common/header :: header"></div>
<link rel="stylesheet" href="/resources/css/freeBoard.css" />
</head>

<body>
   <!-- 네비 시작 -->
   <div th:replace="/common/nav :: nav"></div>
   <!-- 네비 끝 -->

   <!-- 본문 시작 -->
   <div style="height: 13vh;"></div>

   <div class="board-Page-container">
      <div class="board-container">
         <!-- 게시판 전체 내용 div -->
         <div class="board-content-container">

            <!-- head(검색창 등) -->
            <div class="board-head">
               <a class="board-head-name" href="/board/freeBoard">&#127795;커뮤니티&#127795;</a>
               <div class="board-head-align">
                  <span class="board-head-align-new"
                     th:onclick="'fn_pageClick(' + ${curPage} + ',' + 2 + ')'">인기순🐷</span>
                  <!--                   <span class="board-head-align-new" >추천순</span> -->
                  <span class="board-head-align-new2"
                     th:onclick="'fn_pageClick(' + ${curPage} + ',' + 1 + ')'">최신순🐤</span>
               </div>
               <div class="button-write-container">
                  <button id="btnWrite" class="button-write">글쓰기 💭</button>
               </div>
            </div>

            <!-- 테이블 내용 -->
            <div class="table-content">
               <table>
                  <thead>
                     <tr>
                        <th style="width:60px;">번호</th>
                        <th style="width:60px;">글쓴이</th>
                        <th style="width:270px;">제목</th>
                        <th style="width:80px;">등록일</th>
                        <th style="width:50px;">추천</th>
                        <th style="width:50px;">조회</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:if="${list != null}" th:each="list : ${list}">
                        <td th:text="${list.communityNum}" class="td-num">글번호값</td>
                        <td th:text="${list.userId} != null ? ${list.userId} : ${list.agentId}" class="td-text">작성자값</td>
                        <td class="td-text-content" th:onclick="'fn_view(' + ${list.communityNum} + ')'" style="cursor:pointer;">
                            <span th:text="${list.communityTitle != null && #strings.length(list.communityTitle) >= 35 ? #strings.substring(list.communityTitle, 0, 35) + '...' : list.communityTitle}">글제목값</span>
                            <span class="comment-cnt" th:if="${list.commentCnt > 0}" th:text="'(' + ${list.commentCnt} + ')'"></span>
                        </td>
                        <td th:text="${list.regDate}" class="td-num">작성일값</td>
                        <td th:text="${list.likeCnt}" class="td-num">추천수값</td>
                        <td th:text="${list.readCnt}" class="td-num">조회수값</td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <!-- bottom -->
            <div class="board-bottom">
               <div class="board-input-container">
                  <select id="searchSelect" name="searchSelect" class="board-select">
                     <option value="all" th:selected="${searchType} == 'all'">통합검색</option>
                     <option value="title" th:selected="${searchType} == 'title'">제목</option>
                     <option value="content" th:selected="${searchType} == 'content'">내용</option>
                     <option value="author" th:selected="${searchType} == 'author'">작성자</option>
                  </select>
                  <input id="searchInput" class="board-input" type="text" th:value="${searchValue}">
                  <button class="search-button" id="btnSearch">검색 &#128269;</button>
               </div>

               <div class="board-paging-container">
                  <div class="page_wrap">
                     <div class="page_nation" th:if="${paging != null}">
                        <th:block th:if="${paging.prevBlockPage gt 0}">
                           <a class="" href="#" th:onclick="'fn_pageClick(' + 1 + ',' + ${sort} + ')'"><<</a>
                           <a class="" href="#" th:onclick="'fn_pageClick(' + ${paging.prevBlockPage} + ',' + ${sort} + ')'"><</a>
                        </th:block>
                        <th:block th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}">
                           <a class="active" th:if="${i == paging.curPage}" th:text="${i}">1</a>
                           <a href="#" th:if="${i != paging.curPage}" th:text="${i}" th:onclick="'fn_pageClick(' + ${i} + ',' + ${sort} + ')'">2</a>
                        </th:block>
                        <th:block th:if="${paging.nextBlockPage gt 0}">
                           <a class="" href="#" th:onclick="'fn_pageClick(' + ${paging.nextBlockPage} + ',' + ${sort} + ')'">></a>
<!--                            <a class="" href="#" th:onclick="'fn_pageClick(' + ${paging.lastPage} + ',' + ${sort} + ')'">>></a> -->
                        </th:block>
                     </div>
                  </div>
                  <form id="searchForm" name="searchForm" method="post">
                     <input type="hidden" id="communityNum" name="communityNum" value="${communityNum}" />
                     <input type="hidden" id="curPage" name="curPage" th:value="${curPage}" />
                     <input type="hidden" id="searchType" name="searchType" th:value="${searchType}" />
                     <input type="hidden" id="searchValue" name="searchValue" th:value="${searchValue}" />
                     <input type="hidden" id="sort" name="sort" th:value="${sort}" />
                  </form>
               </div>
            </div>
         </div>

      </div>
   </div>
   <!-- 본문 끝 -->

   <!-- 푸터 시작 -->
   <footer th:replace="/common/footer :: footer"></footer>
   <!-- 푸터 끝 -->

   <!-- 개별 js -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript">
      $(document).ready(function () {

         $("#btnWrite").on("click", function () {
            
             if('[[${user}]]' == 'null' || '[[${user}]]' == ''){
                alert("글을 작성하려면 회원 로그인이 필요합니다. ");
                return;
             }

            document.searchForm.curPage.value = "1";
            document.searchForm.action = "/board/freeBoardWrite";
            document.searchForm.submit();

         }); btnSearch

         //검색버튼 클릭시
         $("#btnSearch").on("click", function () {

            document.searchForm.searchType.value = $("#searchSelect").val();
            document.searchForm.searchValue.value = $("#searchInput").val();
            document.searchForm.curPage.value = "1";
            document.searchForm.action = "/board/freeBoard";
            document.searchForm.submit();

         })
      });
      
      function fn_pageClick(curPage, sort) {
         document.searchForm.curPage.value = curPage;
         document.searchForm.sort.value = sort;
         document.searchForm.action = "/board/freeBoard";
         document.searchForm.submit();
      }
      
      //상세페이지
      function fn_view(communityNum) {
         document.searchForm.communityNum.value = communityNum;
         document.searchForm.action = "/board/freeBoardDetail?communityNum=" + communityNum;
         document.searchForm.submit();
      }
   </script>
</body>

</html>