@charset "UTF-8";

 .board-Page-container {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   min-height: 565px;
   width: 100%;
}
.board-container {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   min-height: 500px;
   width:96%;
   border-radius: 10px;
   margin-bottom: 1.5%;
   background-color: #fffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   margin-top:-8px;
}

  .board-content-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.2); /*  */
}

.title-container {
   margin-top:80px;
   font-size:30px;
   font-weight:bold;
   color:#666666;
   margin-bottom:50px;
}

.label-container {
   display: flex;
   width:90%;
   margin-top:10px;
   flex-direction: column;
  justify-content: center;
}

.label-write {
    font-weight: bold;
    font-size:15px;
    float:left;
    margin-left:5px;
    margin-top:10px;
    color:#666666;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"]:focus {
    outline: none;
}

/* textarea css */
.textarea-css1 {
   box-sizing: border-box;
   min-height: 100%;
   width: 90%;
   resize: none;
   border: 1px solid #ccc;
   outline: none;
   overflow-y: auto;
}
.textarea-css2 {
   box-sizing: border-box;
   min-height: 100%;
   width: 100%;
   resize: none;
   border: 1px solid #ccc;
   outline: none;
   overflow-y: auto;
}

  .button-container {
     width:90%;
     margin-top:30px;
     margin-bottom:30px;
      text-align: right;
      /* 버튼을 오른쪽으로 정렬 */
}

button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:5px;
}
button:hover {
    background-color: #555;
 transform: translateY(-2px);
 cursor: pointer;
}

.ck.ck-editor {
}

.ck-editor__editable {
    height: 800px;
    overflow-y: auto;
}