@charset "UTF-8";
.board-Page-container {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   min-height: 565px;
   width: 100%;
}
.board-container {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   min-height: 500px;
   width:96%;
   border-radius: 10px;
   margin-bottom: 1.5%;
   background-color: #fffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   margin-top:-8px;
   border: 1px solid #ebebeb;
}
.board-content-container {
   display: flex;
   position: relative;
   min-height: 450px;
   width: 70%;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 2% 0%;
   flex-direction: column;

}
.board-head {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;
   margin-bottom: 0px;
   margin-top: 0px;
}
.board-head-name {
   font-size: 32px;
   font-weight:1000;
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 1%;
   margin-right: auto;
   cursor: pointer;
   color:#666666;
}
.board-head-align {
   display: flex;
   align-items: center;
   /* 세로로 중앙 정렬 */
  margin-right: 20px;
}

.board-head-align-new {
   cursor: pointer;
   margin-right: 10px;
}

.board-head-align-new2 {
   cursor: pointer;
}

.button-write-container {
   display: flex;
   height: 100%;
   align-items: center;
   /* 세로 중앙 정렬 */
   justify-content: flex-end;
   /* 가로 오른쪽 정렬 */
}

.button-write {
   padding: 8px 16px;
   background-color: gray;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   cursor: pointer;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease;
}
.button-write:hover {
   background-color: #555;
   transform: translateY(-2px);
   cursor: pointer;
}

.board-bottom {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 30px;
}

.board-input-container {
   display: flex;
   height: 100%;
   width: 50%;
   align-items: center;
   justify-content: flex-start;
}

.board-select {
   background-color: #ffffff;
   border: 1px solid gray;
   border-radius: 5px;
   margin-right: 10px;
   height: 30px;
   padding: 3px 10px;
   font-size: 12px;
   color: #333333;
   &:hover {
      background-color: #fafafa;
   }
}

.board-input {
   display: flex;
   location: relative;
   height: 30px;
   width: 60%;
   border-radius: 5px;
   border: 1.5px solid gray;
   outline: none;
   padding: 5px;
   margin-right: 10px;
   font-size: 12px;
}

.search-button {
   background-color: gray;
   color: #fff;
   border: none;
   border-radius: 5px;
   height: 30px;
   width: 70px;
   font-size: 12px;
   cursor: pointer;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease;
}

.search-button:hover {
   background-color: #555;
   transform: translateY(-2px);
   cursor: pointer;
}

.board-paging-container {}

/* ----- 페이징 ----- */
.page_wrap {
   text-align: center;
   font-size: 0;
}

.page_nation {
   display: inline-block;
}

.page_nation .none {
   display: none;
}

.page_nation a {
   display: block;
   margin: 0 3px;
   float: left;
   border: 1px solid #e6e6e6;
   width: 28px;
   height: 28px;
   line-height: 28px;
   text-align: center;
   background-color: #fff;
   font-size: 13px;
   color: #999999;
   text-decoration: none;
}

.page_nation .arrow {
   border: 1px solid #ccc;
}

.page_nation .pprev {
   background: #f8f8f8 url('img/page_pprev.png') no-repeat center center;
   margin-left: 0;
}

.page_nation .prev {
   background: #f8f8f8 url('img/page_prev.png') no-repeat center center;
   margin-right: 7px;
}

.page_nation .next {
   background: #f8f8f8 url('img/page_next.png') no-repeat center center;
   margin-left: 7px;
}

.page_nation .nnext {
   background: #f8f8f8 url('img/page_nnext.png') no-repeat center center;
   margin-right: 0;
}

.page_nation a.active {
   background-color: #42454c;
   color: #fff;
   border: 1px solid #42454c;
}



/*========================테이블css======================*/

table {
   border: 1px #a39485 solid;
   font-size: .9em;
   border: none;
   /* 테두리 없애기 */
   width: 100%;
   border-collapse: collapse;
   overflow: hidden;
   font-size: 14px;
   width: 90%;
   margin: auto;
}

thead {
   /*   font-weight: bold; */
   /*   color: #fff; */
   background: lightgray;
}

td,
th {
   padding: 0.5em .0.5em;
   vertical-align: middle;
}

th {
   border-right: 1px solid #fff;
   height: 80%;

}

td {
   border-bottom: 1px solid rgba(0, 0, 0, .1);
}

tr:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.td-num {
   font-size: 12px;
   color: gray;
}

.td-text {
   text-align: left;
   padding-left: 15px;
   padding-right: 15px;
}
.td-text-content {
   text-align: left;
   padding-left: 15px;
   padding-right: 15px;
   width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.table-content{
	text-align: center; 
	position:relative; 
	margin-top:0%;
}

.comment-cnt{
	font-weight:bold; 
	font-size:12px; 
	color:darkgreen;
}