@charset "UTF-8";

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.board-Page-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 565px;
	width: 100%;
}

.board-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 500px;
	width: 97%;
	border-radius: 10px;
	margin-bottom: 1.5%;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.content-container {
	display: flex;
	width: 97%;
	justify-content: center;
	align-items: center;
}

.home-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.task-box {
	display: flex;
	flex-direction: column;
	/* 세로 방향 정렬 */
	justify-content: center;
	/* 세로 중앙 정렬 */
	align-items: center;
	position: relative;
	border-radius: 12px;
	width: 20%;
	height: 200px;
	margin: 20px 20px;
	padding: 16px;
	cursor: pointer;
	background-color: #fcbdbb;
	box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-box:hover {
	transform: translateY(-10px) scale(1.02);
}

.task-name {
	font-size: 25px;
	/* 		font-weight: bold; */
	/* 		opacity: 0.6; */
	color: white;
}

.more-button {
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #8e92a4;
	box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
	opacity: 0.4;
	right: 20px;
	top: 30px;
	cursor: pointer;
}
